.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto 100px;
  background-color: #f2f2f2;
  position: relative;
  overflow: hidden;
}

.logo_place_header {
  width: 154px;
  height: 31px;

  position: absolute;
  top: 30px;
  left: 64px;
  z-index: 100;
}
